<div class="container">
  <h2 class="grade-header">Your Grade</h2>
  <section class="grade">
    <p><%= @letter_grade %></p>
  </section>

  <section class="first_correct">
    <p><%=@correct_first_try%>/<%=@total_cards%> cards guessed correctly on the first try</p>
  </section>
  <section class="list">
    <p>You you need to work on this shit:</p>
    <ul>
      <% @incorrect_cards.each do |card| %>
        <li><%= card.answer %> : <%= card.question %></li>
      <% end %>
    </ul>
  </section>
</div>
