<div class="container">
  <h1><%= @deck.name %></h1>
  <section class="card">
      <p><%= @card.answer %></p>
      <p><%= @card.question %></p>
  </section>

  <section class="result">
    <% if @card.guesses.last.status == "correct" %>
    <p><%= "Congratulations Princess, you got it!" %></p>
    <% else %>
    <p><%= "Boo hoo, you suck!" %></p>
    <% end %>
    <a href="/round/deck/<%= @deck.id %>/card/<%= @card.id %>/question">Next Card</a>
  </section>

  <section class="round_progress">
    <p><%= @number_correct %> / <%= @number_attempted %> correct</p>
  </section>
</div>
