<div class="container">
  <h1><%= @deck.name %></h1>
  
  <div class="flip"> 
    <div class="card"> 
      <div class="face front"> 
        <p><%= @card.question %></p>
      </div> 
      <div class="face back"> 
        <%= @card.answer %>
      </div> 
    </div> 
  </div> 

  <section class="result">
    <% if @card.guesses.last.status == "correct" %>
    <p><%= "Congratulations Princess, you got it!" %></p>
    <% else %>
    <p><%= "Boo hoo, you suck!" %></p>
    <% end %>
    <a href="/round/deck/<%= @deck.id %>/card/<%= @card.id %>/question">Next Card</a>
  </section>

  <section class="round_progress">
    <p><%= @number_correct %> / <%= @number_attempted %> correct</p>
  </section>
</div>
