<div class="container">
  <h1><%= @deck.name %></h1>
  
  <div class="flip"> 
    <div class="card"> 
      <div class="face front"> 
        <p><%= @card.question %></p>
      </div> 
      <div class="face back"> 
        <%= "Make a guess to see the answer" %>
      </div> 
    </div> 
  </div> 

  <section class="guess">
    <form id="card_guess" action="/guess/<%= @deck.id %>/<%= @card.id %>" method="post">
      <label for="guess"></label>
      <input type="text" size="39" name="guess" placeholder=" Enter your guess here"/>
      <input id="submit_button" type="submit" value="Guess!">
    </form>
  </section>

  <section class="round_progress">
    <p><%= @number_correct %> / <%= @number_attempted %> correct</p>
  </section>
</div>
