<div class="container">
  <h1><%= @deck.name %></h1>
  <section class="card">
      <p><%= @card.question %></p>
  </section>

  <section class="guess">
    <form action="/guess/<%= @deck.id %>/<%= @card.id %>" method="post">
      <label for="guess"></label>
      <input type="text" size="39" name="guess" placeholder=" Enter your guess here"/>
      <input type="submit" value="Guess!">
    </form>
  </section>

  <section class="round_progress">
    <p><%= @number_correct %> / <%= @number_attempted %> correct</p>
  </section>
</div>
